/*
Challenge:
Center the text in the <p> and <h4> elements.

Note: you should only add ONE property, as inheritance 
should take care of applying it to both elements.
*/

.body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;



}

.avatar {
    width: 150px;
}

.card { 
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-bottom: 5px solid #d8cefe;
    background-color: #ddebf8;
    color: #2b2839;

    

}


